*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            -box-sizing: border-box;
}
body{
    background: #f7f7f7;
}

/**
 * ==============================================
 * stylesheet to login pages
 * ==============================================
 */
div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 500px);
    height: 100%;
    background-image: url(../assets/images/login-background.jpg);
    background-size: cover;
}

 section#conteudo-view{
     position: absolute;
     right: 0;
     padding: 80px;
     float: right;
     width: 500px;
     height: 100%;
     background: #12769A;
 }

 section#conteudo-view h1{
    float: left;
    width: 100%;
    font: 4.2em 'Poppins', cursive;
    margin-top: 50px;
    color: #f3f3f3;
 }

 section#conteudo-view h3,
 section#conteudo-view form p{
    float: left;
    width: 100%;
    font: 1.1em 'Fredoka One', cursive;
    color: #f3f3f3;
 }

 section#conteudo-view form, 
 section#conteudo-view form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
 }

 section#conteudo-view form{
    margin-top: 40px;
 }

 section#conteudo-view form p{
     font-size: 1.8em;
 }

section#conteudo-view form label input,
section#conteudo-view form input[type="submit"]{
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 2px solid #2799C3;
    color: #959595;
    font: 1.2em 'Arial';
}

section#conteudo-view form input[type="submit"]{
    width: 60%;
    float: right;
    background: #2799C3;
    text-align: center;
    color: #f9f9f9;
    font: 1.4em 'Poppins', cursive;
}

/**
 * ==============================================
 * stylesheet to menu lateral
 * ==============================================
 */
#principal{
    background: #fff;
    position: fixed;
    float: left;
    width: 240px;
    height: 100%;
    z-index: 5;
    border-right: 1px solid #e9e9e9;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
}

#principal ul,
#principal ul li{
    float: left;
    width: 100%;
}

#principal ul li a{
    float: left;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e9e9e9;
    color: #9c9c9c;
}

#principal ul li a i{
    float: left;
    width: 80px;
    height: 80px;
    color: inherit;
    text-align: center;
    line-height: 80px;
    font-size: 2em;
}

#principal ul li a h3{
    float: left;
    height: 80px;
    font: 1.4em/80px 'Poppins', cursive;
    color: inherit;
}

#principal ul li a:hover h3{
    color: #2799C3;
}

/**
 * ==============================================
 * stylesheet
 * ==============================================
 */
 #view-conteudo{
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 260px;
    z-index: 1;
}

/**
 * ==============================================
 * stylesheet
 * ==============================================
 */
 form.form-padrao{
    float: left;
    width: 100%;
}

form.form-padrao label{
    float: left;
    width: 49%;
    height: 60px;
    padding: 7px 15px;
    border: 1px solid #e9e9e9;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

form.form-padrao label:nth-last-of-type(odd){
    margin-left: 2%;
}

form.form-padrao label span{
    float: left;
    width: 100%;
    font: 400 .75em 'Arial';
    color: #c7c7c7;
    padding-bottom: 5px;
}

form.form-padrao label input{
    float: left;
    width: 100%;
    color: #5c5c5c;
    font: 400 1.25em 'Arial';
    background: transparent;
}

form.form-padrao label.submit{
    background: #0a9ae7;
    border-color: #0a91f1;
}

form.form-padrao label.submit input{
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50px;
    color: #f9f9f9;
}